@import 'variables.scss';

.change-notification {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding:10px;
  margin: 5px 0;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: 2px rgba($color-black, 0.7);
  background-color: $color-silver;

  &__info {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-start;
  }

  &__input {
    text-align: left;
  }

  &__label {
    text-align: right;
  }

  &__action-area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
  }

  &__button {
    width: 60px;
    height: 20px;
    border: 1px groove rgba($color-black, 0.7);
    text-align: center;
    padding: 5px;
    margin-left: 6px;
    background-color: $color-white;
    border-radius: 15px;

    &--update {
      color: $color-dark-silver;
    }

    &--create {
      color: $color-green;
    }
  }
}
