@import 'variables.scss';

.change-notification {
  display: flex;
  flex-direction: column;
  padding:10px;
  margin: 5px 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px rgba($color-black, 0.7);
  background-color: $color-silver;

  &__action-area,
  &__header-actions,
  &__info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    border: 2px groove green;
  }

  &__icon {
    color: $color-bordo;
    font-size: 18px;
  }

  &__button {
    width: 60px;
    height: 20px;
    border: 1px groove rgba($color-black, 0.7);
    text-align: center;
    padding: 5px;
    margin-left: 6px;
    background-color: $color-white;
    border-radius: 15px;

    &--update {
      color: $color-dark-silver;
    }

    &--create {
      color: $color-green;
    }
  }
}
