@import 'variables.scss';

.notification-tile {
  display: flex;
  flex-direction: column;
  flex:1;
  padding:10px;
  margin: 5px 0;
  width:80%;
  height: 70px;
  border-radius: 10px;
  box-shadow: 2px rgba($color-black, 0.7);
  transition: height 2s;
  transition-timing-function: linear;
  background-color: $color-white;
  cursor: pointer;

  &__info-area {
    display: flex;
    flex:1;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 2s;
    transition-delay: 1s;
    transition-timing-function: linear;

    &--expanded {
        visibility: visible;
        opacity: 1;
    }
  }

  &--expanded {
      height: 230px;
  }

&--itemdeleted {
  animation: itemdeleted 2s;
}

@keyframes itemdeleted {
  0% {
    transform: translateX(0);
  }
  100% {
      transform: translateX(-10000);
    }
}

  &__header-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__image-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__text-area {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
  }

  &__link-area,
  &__action-area, {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__title {
    font-size: 22px;
    color: $color-dark-blue;

    &--bonus {
      color: $color-green;
    }

    &--promotion {
      color: $color-bordo;
    }
  }

  &__text {
    color: rgba($color-black, 0.7);
  }

  &__button {
    width: 60px;
    height: 20px;
    border: 1px groove rgba($color-black, 0.7);
    text-align: center;
    padding: 5px;
    margin-left: 6px;
    background-color: $color-white;
    border-radius: 15px;

    &--update {
      color: $color-dark-silver;
    }

    &--delete {
      color: $color-red;
    }
  }

}
