$color-black: #000000;
$color-white: #ffffff;
$color-dark-blue: #5f819e;
$color-dark-blue: #5f819e;
$color-orange: #edaa00;
$color-red: #ed4b00;
$color-silver: #f0f0f0;
$color-dark-silver: #999999;
$color-bordo: #ad0543;
$color-green: #56b348;
